{% extends 'encurtador/base.html' %}
{% load static %}

{% block titulo %}
    <title>Encurteco | Link não encontrado</title>
{% endblock titulo %}

{% block conteudo %}
    <div class="background">
            <div class="container">
    <div>
        <img src="{% static 'img/encurteco_404_min.jpg' %} " alt="mascote encurteco" class="img">
    </div>
       <h1 class="titulo">404</h1>
       <p class="texto_status">Página não encontrada.</p><a href="{% url 'home' %} " class="botao_principal texto_botao">Voltar</a>
   </div>
   </div>
{% endblock conteudo %}
