{% extends 'encurtador/base.html' %}
{% load static %}

{% block titulo %}
    <title>Encurteco | Esse link já existe</title>
{% endblock titulo %}

{% block conteudo %}
    <div class="background">

        <div class="container">
            <div>
                <img src="{% static 'img/encurteco_existente_min.jpg' %} " alt="mascote encurteco" class="img">
            </div>
            <div>
                <h1 class="titulo">Link já existe</h1>

                <div class="divisao-form">
                    <div class="texto_normal bold">
                        <a href="{{ link_existente }}" target="_blank"
                           class="texto_normal caixa_link" >{{ abrir_link }}</a>
<!-- {#                        <button onclick="copiarTexto()" class="fa-solid fa-copy texto_botao botao_acao"></button>#}
{#                        <script>#}
{#                            function copiarTexto() {#}
{#                                const copyText = document.getElementById("texto");#}
{#                                navigator.clipboard.writeText(copyText);#}
{#                                alert("Link copiado!");#}
{#                            }#}
{#                        </script>#} -->
                    </div>
                </div>

                <a href="{% url 'home' %} " class="botao_principal texto_botao">Criar outro link</a>
            </div>

        </div>
    </div>
{% endblock conteudo %}
