{% extends 'encurtador/base.html' %}
{% load static %}

{% block titulo %}
    <title>Encurteco | Esse link já existe</title>
{% endblock titulo %}

{% block conteudo %}
    <div class="background">
            <div class="container">
    <div>
        <img src="{% static 'img/encurteco_existente_min.jpg' %} " alt="mascote encurteco" class="img">
    </div>
       <h1 class="titulo">Link já existe</h1>
        <div class="texto_normal">
            <a href="{{new_link}}" target="_blank" class="texto_normal">{{abrir_link}}</a>
        </div>
       <a href="{% url 'home' %} " class="botao_principal texto_botao">Criar outro link</a>
   </div>
   </div>
{% endblock conteudo %}
