{% extends 'encurtador/base.html' %}
{% load static %}

{% block titulo %}
    <title>Encurteco | Link criado!</title>
{% endblock titulo %}

{% block conteudo %}
    <div class="background">
        <div class="container">
            <div>
                <img src="{% static 'img/encurteco_ok.jpg' %} " alt="mascote encurteco" class="img">
            </div>
            <h1 class="titulo">Sucesso!</h1>
            <div class="alinhar">
                <div class="divisao-form">
                    <p class="texto_normal bold">Seu link é:</p>
                    <a href="{{ abrir_link }}" id="texto" target="_blank"
                       class="texto_normal caixa_link">{{ new_link }}</a>
                    <button onclick="copiarTexto()" class="fa-solid fa-copy texto_botao botao_acao"></button>
                    <script>
                        function copiarTexto() {
                            const copyText = document.getElementById("texto");
                            const buttoao = document.querySelector(".botao_acao")
                            navigator.clipboard.writeText(copyText.innerText);
                            buttoao.className = 'fa-solid fa-check texto_botao botao_acao_ok'
                        }
                    </script>
                </div>
                <a href="{% url 'home' %} " class="botao_principal texto_botao">Criar outro link</a>
            </div>
        </div>
    </div>
{% endblock conteudo %}
