{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/reset.css' %}>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/encurteco_mascote.ico' %}" type="image/x-icon"/>
    <title>Link já existe
    </title>
</head>
<body>
    <div class="background">
            <div class="container">
    <div>
        <img src="{% static 'img/encurteco-existente-min.jpg' %} "  alt="mascote encurteco" class="img">
    </div>
       <h1 class="titulo">Link já existe</h1>
{#        <p class="texto_normal">Seu link é:</p>#}
{#        <div class="texto_normal">#}
{#            <a href="{{abrir_link}}" target="_blank" class="texto_normal">{{new_link}}</a>#}
{#        </div>#}
       <a href="{% url 'home' %} " class="botao_principal texto_botao">Criar outro link</a>
   </div>
</body>
</html>

