{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/reset.css' %}>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/encurteco_mascote.ico' %}" type="image/x-icon"/>
    <title>Encurteco</title>
</head>
<body>
    <div class="background">
            <div class="container">
    <div>
        <img src="{% static 'img/encurteco_mascote.jpg' %} "  alt="mascote encurteco" class="img">
    </div>
       <h1 class="titulo"> Encurteco </h1>
       <form action="{% url 'valida_link' %}" method="POST" class="formulario" placeholder="https://"> {% csrf_token %}
           <div class="divisao-form">
               <label class="texto_normal">Digite a URL que deve ser encurtada: </label>
               {{form.link_redirecionado }}
           </div>

           <div class="divisao-form">
               <label class="texto_normal">Personalize o seu link: </label>
               <div class="form_lado_lado">
                   <label class="texto_exemplo">https://encurteco.herokuapp.com/</label>
                   {{form.link_personalizado}}
               </div>
           </div>
           {#               {% endif %}#}
           {#               {% if status == '1' %}#}
           {#               <p style="color: red;">O link digitado já existe</p>#}
               <input type="submit" class="botao_principal texto_botao">
       </form>
   </div>
</body>
</html>

