/* # PÁGINA INICIAL DO ENCURTECO  */
/*body {*/
/*    position: absolute;*/
/*}*/

.background{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecf3f3;
}
.container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 575px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 8px 16px;
    box-shadow: -2px 0 18px 4px #eef3f3;
}

.formulario {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.alinhar {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    width: 200px;
    border-radius: 100%;
    /* margin-block-end: 40em; */
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.titulo{
    /* position: absolute; */
    /* width: 208px; */
    /* height: 60px; */
    margin: 10px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #cd1f87;
    text-align: center;
    margin: 10px 0px;
    font-size: 55px;
}

.link_original{
    padding: 20px;
    /* margin: 0 0 200px 0; */
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
}

.box_original{
    /* background-color: #fff; */
    width: 350px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    border: 1px solid #909090;
    /* margin: 0 0 100px 0; */
    box-shadow: 0px 2px 4px 0 #909090
}

.link_personalizado{
    padding: 20px;
    margin: 0 0 300px 0;
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
}

.link_anterior{
    padding: 10px;
    margin: 0 0 50px 0;
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    display: inline-block;
}

.box_link{
    width: 90px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 8px 16px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    border: 1px solid #909090;
    margin: 0 0 10px 0;
    box-shadow: 0px 2px 4px 0 #909090;
    display: inline-block;
}

.caixa_form{
    box-sizing: border-box;
    /* position: absolute; */
    width: 251px;
    height: 29px;
    background: #FFFFFF;
    border: 1px solid #DCD6D6;
    border-radius: 5px;                   
}

.caixa_link{
    box-sizing: border-box;
    /* position: absolute; */
    width: 100%;
    padding: 5px;
    height: 29px;
    background: #FFFFFF;
    border: 1px solid #DCD6D6;
    border-radius: 5px 0px 0px 5px;
}

.texto_normal{
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 15px;
    font-weight: 400;
    /*color: #656565;*/
    text-align: center;
    margin: 10px 0px;
}
.bold {
    font-weight: 700;
}


.form_lado_lado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.texto_exemplo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /*color: #5b5b5b;*/
    text-align: center;
}

.texto_vermelho{
    color: red;
    font-size: 17px;
}

.botao_principal{
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin: 10px 0px 20px;
    border: none;
    background: #cd1f87;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao_principal:hover{
    background-color: #e853ac;
}

.texto_botao{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    
}

/* PÁGINA DO ERRO 4004 */

.texto_status{
    /* position: absolute; */
    width: 182px;
    height: 23px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    color: #000;
}

/* PÁGINA DE SUCESSO */

.botao_acao{
    /*box-sizing: border-box;*/
    width: 31px;
    height: 31px;
    background: #CD1F87;
    border: 1px solid #cd1f87;
    border-radius: 0px 5px 5px 0px;
}

.botao_acao:hover{
    background-color: #ea5cb1;
}

.botao_acao_ok{
    width: 31px;
    height: 31px;
    background: #59c2d5;
    border: 1px solid #59c2d5;
    border-radius: 0px 5px 5px 0px;}

.divisao-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    height: auto;
    border: 1px solid #d5d5d5;
    background-color: #f6f9f9;
    border-radius: 5px;
}

@media (max-width: 414px) {
    .container {
        width: 80%;
    }

    .divisao-form {
        width: 95%;
    }

    .form_lado_lado {
        flex-direction: column;
        gap: 5px;
    }



    }