/* # PÁGINA INICIAL DO ENCURTECO  */
.background {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecf3f3;
}

.container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 575px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 30px 8px;
    box-shadow: -2px 0 18px 4px #eef3f3;
}

.formulario {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.alinhar {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img {
    width: 200px;
    border-radius: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.titulo {
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    color: #cd1f87;
    text-align: center;
    font-size: 55px;
}

.caixa_link {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 31px;
    background: #FFFFFF;
    border: 1px solid #DCD6D6;
    border-radius: 5px 0 0 5px;
}

.form_lado_lado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.texto_normal {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
}


.bold {
    font-weight: 700;
    margin: 10px 0;
}

.texto_exemplo {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.botao_principal {
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border: none;
    background: #cd1f87;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao_principal:hover {
    background-color: #e853ac;
}

.texto_botao {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

/* PÁGINA DO ERRO 4004 */
.texto_status {
    /* position: absolute; */
    width: 182px;
    height: 23px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000;
}

/* PÁGINA DE SUCESSO */
.botao_acao {
    /*box-sizing: border-box;*/
    width: 31px;
    height: 31px;
    background: #CD1F87;
    border: 1px solid #cd1f87;
    border-radius: 0 5px 5px 0;
}

.botao_acao:hover {
    background-color: #ea5cb1;
}

.botao_acao_ok {
    width: 31px;
    height: 31px;
    background: #59c2d5;
    border: 1px solid #59c2d5;
    border-radius: 0px 5px 5px 0px;
}

.texto_copiar {
    font-size: 16px;
    font-family: Inter, sans-serif;
    display: none;
}

.divisao-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    height: auto;
    border: 1px solid #d5d5d5;
    background-color: #f6f9f9;
    border-radius: 5px;
}

.divisao-form-copiar {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    height: auto;
    border: 1px solid #d5d5d5;
    background-color: #f6f9f9;
    border-radius: 5px;
}

.divisao-form-sucesso {
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    height: auto;
    border: 1px solid #d5d5d5;
    background-color: #f6f9f9;
    border-radius: 5px;
}

.column {
    display: flex;
    flex-direction: column;
}

@media (max-width: 415px) {
    * {
        text-align: center;
    }

    .botao_acao, .botao_acao_ok {
        width: 100%;
        height: 29px;
        border-radius: 5px;
    }

    .formulario {
        width: 95%;
    }

    .caixa_link {
        height: 31px;
        border-radius: 5px;
    }

    .divisao-form {
        gap: 10px;
        flex-direction: column;
    }

    .divisao-form-copiar {
        gap: 10px;
        flex-direction: column;
    }

    .texto_copiar {
        display: inline;
        font-size: 14px;
        text-transform: uppercase;
    }

    .container {
        width: 85%;
    }

    .alinhar {
        width: 90%;
    }

    .texto_normal, .texto_exemplo {
        font-size: 14px;
    }


    .form_lado_lado {
        flex-direction: column;
        gap: 5px;
    }

    .bold {
        margin: 0;
    }

    .divisao-form-sucesso {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
}